.gradle/8.13/checksums/checksums.lock
.gradle/8.13/executionHistory/executionHistory.lock
.gradle/8.13/expanded/expanded.lock
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
