.gradle/8.13/checksums/checksums.lock
.gradle/8.13/executionHistory/executionHistory.lock
.gradle/8.13/expanded/expanded.lock
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/extracted-include-protos/main/instrumentation-data.proto
build/extracted-include-protos/main/ItemPrice.proto
build/extracted-include-protos/main/LocalSchedule.proto
build/extracted-include-protos/main/LocalScript.proto
build/extracted-include-protos/main/logger.proto
build/extracted-include-protos/main/ScriptProfiles.proto
build/extracted-include-protos/main/WebWalking.proto
build/extracted-include-protos/main/Worlds.proto
build/reports/problems/problems-report.html
build/tmp/compileJava/compileTransaction/stash-dir/Crush.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/Mining.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/samInfernalShale.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/samInfernalShale.class.uniqueId1
build/tmp/compileJava/previous-compilation-data.bin
.gradle/8.13/checksums/sha1-checksums.bin
.gradle/8.13/executionHistory/executionHistory.bin
.gradle/8.13/fileHashes/fileHashes.bin
.gradle/8.13/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/outputFiles.bin
build/classes/java/main/org/sam/Tasks/Crush.class
build/classes/java/main/org/sam/Tasks/Mining.class
build/extracted-include-protos/main/Account.proto
build/extracted-include-protos/main/app_processes.proto
build/extracted-include-protos/main/Control.proto
build/extracted-include-protos/main/DaxProxy.proto
build/extracted-include-protos/main/google/protobuf/any.proto
build/extracted-include-protos/main/google/protobuf/api.proto
build/extracted-include-protos/main/google/protobuf/compiler/plugin.proto
build/extracted-include-protos/main/google/protobuf/descriptor.proto
build/extracted-include-protos/main/google/protobuf/duration.proto
build/extracted-include-protos/main/google/protobuf/empty.proto
build/extracted-include-protos/main/google/protobuf/field_mask.proto
build/extracted-include-protos/main/google/protobuf/source_context.proto
build/extracted-include-protos/main/google/protobuf/struct.proto
build/extracted-include-protos/main/google/protobuf/timestamp.proto
build/extracted-include-protos/main/google/protobuf/type.proto
build/extracted-include-protos/main/google/protobuf/wrappers.proto
build/extracted-include-protos/main/instrumentation-data.proto
build/extracted-include-protos/main/ItemPrice.proto
build/extracted-include-protos/main/LocalSchedule.proto
build/extracted-include-protos/main/LocalScript.proto
build/extracted-include-protos/main/logger.proto
build/extracted-include-protos/main/ScriptProfiles.proto
build/extracted-include-protos/main/WebWalking.proto
build/extracted-include-protos/main/Worlds.proto
build/reports/problems/problems-report.html
build/tmp/compileJava/compileTransaction/stash-dir/Crush.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/samInfernalShale.class.uniqueId0
build/tmp/compileJava/previous-compilation-data.bin
*.bin
/build
/.gradle
/build
*.proto
